vc++/clitest/CppCliLibrary/obj/CppCliLibrary.vcxproj.nuget.dgspec.json
vc++/clitest/CppCliLibrary/obj/CppCliLibrary.vcxproj.nuget.g.props
vc++/clitest/CppCliLibrary/obj/CppCliLibrary.vcxproj.nuget.g.targets
vc++/clitest/CppCliLibrary/obj/project.assets.json
vc++/clitest/CppCliLibrary/obj/project.nuget.cache
vc++/clitest/CppCliLibrary/x64/Debug/.NETCoreApp,Version=v6.0.AssemblyAttributes.cpp
vc++/clitest/CppCliLibrary/x64/Debug/.NETCoreApp,Version=v6.0.AssemblyAttributes.obj
vc++/clitest/CppCliLibrary/x64/Debug/.NETCoreApp,Version=v8.0.AssemblyAttributes.cpp
vc++/clitest/CppCliLibrary/x64/Debug/app.res
vc++/clitest/CppCliLibrary/x64/Debug/AssemblyInfo.obj
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLi.81E0BDBB.Up2Date
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.assets.cache
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.Build.CppClean.log
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.dll.recipe
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.genruntimeconfig.cache
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.log
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.obj
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.pch
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.vcxproj.AssemblyReference.cache
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.vcxproj.FileListAbsolute.txt
vc++/clitest/CppCliLibrary/x64/Debug/pch.obj
vc++/clitest/CppCliLibrary/x64/Debug/vc143.pdb
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.tlog/CL.command.1.tlog
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.tlog/Cl.items.tlog
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.tlog/CL.read.1.tlog
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.tlog/CL.write.1.tlog
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.tlog/CopyLocal.read.1u.tlog
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.tlog/CopyLocal.write.1u.tlog
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.tlog/CppCliLibrary.lastbuildstate
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.tlog/link.command.1.tlog
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.tlog/link.read.1.tlog
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.tlog/link.secondary.1.tlog
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.tlog/link.write.1.tlog
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.tlog/rc.command.1.tlog
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.tlog/rc.read.1.tlog
vc++/clitest/CppCliLibrary/x64/Debug/CppCliLibrary.tlog/rc.write.1.tlog
vc++/clitest/NativeApp/x64/Debug/NativeApp.exe.recipe
vc++/clitest/NativeApp/x64/Debug/NativeApp.ilk
vc++/clitest/NativeApp/x64/Debug/NativeApp.log
vc++/clitest/NativeApp/x64/Debug/NativeApp.obj
vc++/clitest/NativeApp/x64/Debug/vc143.idb
vc++/clitest/NativeApp/x64/Debug/vc143.pdb
vc++/clitest/NativeApp/x64/Debug/NativeApp.tlog/CL.command.1.tlog
vc++/clitest/NativeApp/x64/Debug/NativeApp.tlog/Cl.items.tlog
vc++/clitest/NativeApp/x64/Debug/NativeApp.tlog/CL.read.1.tlog
vc++/clitest/NativeApp/x64/Debug/NativeApp.tlog/CL.write.1.tlog
vc++/clitest/NativeApp/x64/Debug/NativeApp.tlog/link.command.1.tlog
vc++/clitest/NativeApp/x64/Debug/NativeApp.tlog/link.read.1.tlog
vc++/clitest/NativeApp/x64/Debug/NativeApp.tlog/link.secondary.1.tlog
vc++/clitest/NativeApp/x64/Debug/NativeApp.tlog/link.write.1.tlog
vc++/clitest/NativeApp/x64/Debug/NativeApp.tlog/NativeApp.lastbuildstate
vc++/clitest/CSharpLibrary/obj/CSharpLibrary.csproj.nuget.dgspec.json
vc++/clitest/CSharpLibrary/obj/CSharpLibrary.csproj.nuget.g.props
vc++/clitest/CSharpLibrary/obj/CSharpLibrary.csproj.nuget.g.targets
vc++/clitest/CSharpLibrary/obj/project.assets.json
vc++/clitest/CSharpLibrary/obj/project.nuget.cache
vc++/clitest/CSharpLibrary/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
vc++/clitest/CSharpLibrary/obj/Debug/net6.0/CSharpLibrary.AssemblyInfo.cs
vc++/clitest/CSharpLibrary/obj/Debug/net6.0/CSharpLibrary.AssemblyInfoInputs.cache
vc++/clitest/CSharpLibrary/obj/Debug/net6.0/CSharpLibrary.assets.cache
vc++/clitest/CSharpLibrary/obj/Debug/net6.0/CSharpLibrary.csproj.CoreCompileInputs.cache
vc++/clitest/CSharpLibrary/obj/Debug/net6.0/CSharpLibrary.csproj.FileListAbsolute.txt
vc++/clitest/CSharpLibrary/obj/Debug/net6.0/CSharpLibrary.dll
vc++/clitest/CSharpLibrary/obj/Debug/net6.0/CSharpLibrary.GeneratedMSBuildEditorConfig.editorconfig
vc++/clitest/CSharpLibrary/obj/Debug/net6.0/CSharpLibrary.GlobalUsings.g.cs
vc++/clitest/CSharpLibrary/obj/Debug/net6.0/CSharpLibrary.pdb
vc++/clitest/CSharpLibrary/obj/Debug/net6.0/ref/CSharpLibrary.dll
vc++/clitest/CSharpLibrary/obj/Debug/net6.0/refint/CSharpLibrary.dll
vc++/clitest/CSharpLibrary/bin/Debug/net6.0/CSharpLibrary.deps.json
vc++/clitest/CSharpLibrary/bin/Debug/net6.0/CSharpLibrary.dll
vc++/clitest/CSharpLibrary/bin/Debug/net6.0/CSharpLibrary.pdb
